@charset "UTF-8";
.container_principal {
  background-image: url("../imagenes/pinguino.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del elemento */
  background-position: center;
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed; /* Fija la imagen de fondo al desplazar */
}

@media (min-width: 1115px) {
  header {
    display: flex;
    margin-left: 300px;
  }
}

.titulo_principal {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 90px;
}
@media (min-width: 1115px) {
  .titulo_principal {
    width: 700px;
  }
}

.boton_principal {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-left: 90px;
}
@media (min-width: 1115px) {
  .boton_principal {
    margin-left: 5px;
  }
}

.boton_resgistrarse {
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton_iniciar_sesion {
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.formulario_regis {
  display: none;
}

.formulario_registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 400px;
  margin-left: 80px;
  margin-top: 120px;
}
@media (min-width: 1115px) {
  .formulario_registro {
    margin-left: 490px;
    width: 600px;
  }
}

.formulario_fin_registro {
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}

input[type=text],
input[type=number],
input[type=password],
input[type=url] {
  background-color: #ccc;
  padding: 10px;
  width: 70%;
  border: 1px solid black;
  border-radius: 8px;
}

.inicio_sesion {
  display: none;
}

.formulario_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-left: 30px;
}
@media (min-width: 1115px) {
  .formulario_inicio {
    width: 600px;
    margin-left: 460px;
    margin-top: 170px;
  }
}

.formulario_aceptar {
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
}

.container_secundario {
  background-color: rgb(204, 200, 200);
}

.home {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: cursive;
  padding: 20px;
  display: flex;
  gap: 80px;
}

/* Estilos para la barra lateral */
.imagen_avatar {
  width: 60px;
  height: 66px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.busqueda_chat {
  margin-top: 10px;
  width: 330px;
  cursor: pointer;
}

.lista_conversacion {
  border: 2px solid red;
  background-color: white;
  width: 280px;
  height: 470px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.conversacion {
  border: 2px solid greenyellow;
  width: 280px;
  height: 470px;
}

li {
  list-style: none;
  margin-left: 20px;
  font-size: 16.3px;
}

.conversation-history {
  border: 2px solid black;
  width: 310px;
  margin-right: 900px;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
